/* Header.css */
.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    position: relative; /* Required for ::after positioning */
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: linear-gradient(to right, #40a8e7, #000000); /* Underline color */
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%; /* Expand the underline */
    left: 0;
  }
  
  .nav-link:hover {
    color: #000000; /* Change text color on hover */
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative; /* Needed for dropdown positioning */
  }
  
  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute; /* Position the dropdown */
    background-color: white; /* Background color for dropdown */
    min-width: 190px; /* Minimum width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
    z-index: 1; /* Ensure dropdown is above other elements */
    border-radius: 5px; /* Rounded corners */
    /* margin-top: '50px'; */
  }
  
  .dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
  }
  
  .dropdown-item {
    color: black; /* Color for dropdown items */
    padding: 6px 8px; /* Padding for items */
    text-decoration: none; /* No underline */
    display: block; /* Make items block elements */
    font-weight: normal; /* Normal weight for dropdown items */
    transition: background 0.3s ease; /* Smooth background transition */
  }
  
  .dropdown-item:hover {
    background: linear-gradient(to right, #40a8e7, #1de7eb); /* Gradient background on hover */
    color: white; /* Change text color on hover */
  }
  